{% extends 'baseAdmin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {% include 'admin/menu.html.twig' %}

    <a href="{{ path('user_new') }}"><button class="btn btn-secondary mb-3 mt-5"><i class="fas fa-home mr-1"></i>Retour à liste des utilisateurs</button></a>

    <div class="card">
        <div class="card-body form-group">
            {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier' }) }}
        </div>
    </div>

    <a href="{{ path('creation_index_admin') }}"><button class="btn btn-info mt-3"><i class="fas fa-home mr-1"></i>Retour à l'accueil</button></a>


{% endblock %}
