<form method="post" class="d-inline" action="{{ path('creation_delete', {'id': creation.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette création ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creation.id) }}">
    <button class="btn btn-danger"> <i class="fa fa-trash"></i> </button>
</form>
