{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Contact devis agence communication{% endblock %}
{% block meta %}
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
{#    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />#}
    <link href='css/styleContacts.css' rel='stylesheet' />
{#    <script src='https://www.google.com/recaptcha/api.js'></script>#}
{% endblock %}
{% block body %}

    {% include 'header.html.twig' with {'title': 'contact', 'petit': 'Prendre', 'grand':'contact','class':'img-contact', 'img' : 'uploads/Contact/contact_header.jpg', 'alt' : 'Page de contact du site Evok design '} %}

    <section class='content  divDesContacts col  '>
        <div class="carte col-xl-4  col-lg-2 col-sm-12 col-md-6 col-xs-12">

        </div>
        <div class="contact  col-xl-8 col-lg-10 col-sm-12 col-md-12 col-xs-12 ">
            <div class='row rowContact  '>
                <div class=" col-xl-offset-1 col-xl-5  col-xs-12 col-sm-12 col-md-6  col-lg-6  ">
                    <span class="spanContact">S'informer</span><br><br>
                    evokdesign@evok.fr  <br><br>
                    contact@evok.fr<br><br>
                    <a href="mailto:contact@evok.fr?subject=Demande infos"><button class="buttonContact"
                                                                                   type="button">Nous écrire</button></a>
                </div>

                <div class=" col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <span class="spanContact">Candidater</span><br><br>
                    recrutement@evok.fr<br><br>
                    cv@evok.fr<br><br>
                    <a href="mailto:cv@evok.fr?subject=Candidature"><button class="buttonContact"
                                                                            type="button">Postuler</button></a>

                </div>


            </div>

            <div class="row rowContact  ">
                <div class="  col-xl-offset-1 col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <span class="spanContact">Se rencontrer</span><br><br>
                    +33 3 29 25 24 57<br><br>
                    310 brue Pierre et Marie Curie<br>
                    54710 Dynapôle - Ludres<br><br>
                    <a href="mailto:contact@evok.fr?subject=Demande infos"><button class="buttonContact"
                                                                                   type="button">Nous ecrire</button></a>
                </div>

                <div class="col-xl-6  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <span class="spanContact">Découvrir</span><br><br>
                    <a href="https://www.instagram.com/evok_design/" target="_blank"><img   src="img/instagram_détouré.png"
                                                                                          height="30" width="60" class='reseaux insta bg-danger'></a>
                    <a href="https://www.facebook.com/evokdesign/"><img src="img/logo_facebook_détouré.png" target="_blank"
                                                                        height="30" width="30" class='reseaux'></a>
                    <a href="https://www.linkedin.com/company/evok-design/" target="_blank"><img
                                src="img/logo_linkedin_détouré.png" height="30" width="50" class='reseaux'></a>

                </div>

            </div>

        </div>

    </section>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

   {# <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.0/mapbox-gl-language.js'></script>#}
    <script>
/*

        function changeLabel(){


            let name = $('#contact_attachment').val();
            name = name.split('\\');
            name = name[name.length-1];

            $('#labelPJ').html(name);

            if ($('#labelPJ').html() == ''){
                $("#labelPJ").html('Choisir un fichier');
            }


        };

        mapboxgl.accessToken = 'pk.eyJ1IjoiZXZva2Rlc2lnbiIsImEiOiJjam9zZnR1bnEwbnhjM3BrZnNlbmVtdDlhIn0.TftkQiIgK0xwd74XV4WDqg';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/evokdesign/cjt8nnayl00kz1fmn2ogab5dj',
            center: [-71.020000, 42.362400],
            center: [6.0,48.6176515],
            zoom: 10.0
        });

        //AJOUT DE MARQUEUR
        var geojson = {

            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "properties": {
                        "iconSize": [40, 51],
                        "icon" : 'url(/img/logo_rounded.png)',
                        "description": "<strong>Evok Design</strong><p>310 Rue Pierre et Marie Curie,<br/>54710 Ludres</p>",
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            6.184596,
                            48.6176515
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {
                        "iconSize": [40, 51],
                        "icon" : 'url(/img/logo-tgv.png)',
                        "description": "<strong>TGV</strong><p>310 Rue Pierre et Marie Curie,<br/>54710 Ludres</p>",

                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            6.1722613,
                            48.689836
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {
                        "iconSize": [40, 51],
                        "icon" : 'url(/img/logo_rounded.png)',
                        "description": "<strong>Evok International</strong><p>8 Place de l'Hôpital<br/>67000 Strasbourg</p>",

                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [7.749755427637297, 48.5775390791604]
                    }
                }
            ]
        };

        mapboxgl.setRTLTextPlugin('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.1.0/mapbox-gl-rtl-text.js');
        map.addControl(new MapboxLanguage({
            defaultLanguage: 'fr'
        }));

        // AJOUT DE MARQUEUR
        geojson.features.forEach(function(marker) {
            // create a DOM element for the marker
            var el = document.createElement('div');
            el.className = 'marker';
            el.style.backgroundImage = marker.properties.icon;
            el.style.width = marker.properties.iconSize[0] + 'px';
            el.style.height = marker.properties.iconSize[1] + 'px'

            el.addEventListener('click', function() {
                //Fonction appelée au clic d'une icone
            });

            // add marker to map
            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .addTo(map);
        });

        // AFFICHAGE D'UNE POPUP AU CLIC
        map.on('load', function () {

            map.addLayer({
                "id": "places",
                "type": "symbol",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": [
                            {
                                "type": "Feature",
                                "properties": {
                                    "description": "<strong>Evok Design</strong><p>310 Rue Pierre et Marie Curie,<br/>54710 Ludres</p>",
                                    "icon": "marker"
                                },
                                "geometry": {
                                    "type": "Point",
                                    "coordinates": [6.184596, 48.6176515]
                                }
                            },
                            {

                                "type": "Feature",
                                "properties": {
                                    "description": "<strong>TGV</strong><p>Nancy, à 1h30 de PARIS.</p>",
                                    "icon": "marker"
                                },
                                "geometry": {
                                    "type": "Point",
                                    "coordinates": [6.1722613,48.689836]
                                }
                            },
                            {
                                "type": "Feature",
                                "properties": {
                                    "description": "<strong>Evok International</strong><p>8 Place de l'Hôpital<br/>67000 Strasbourg</p>",
                                    "icon": "marker"
                                },
                                "geometry": {
                                    "type": "Point",
                                    "coordinates": [7.749755427637297, 48.5775390791604]
                                }
                            },
                        ]
                    }
                },
                "layout": {
                    "icon-image": "{icon}-15",
                    "icon-allow-overlap": true,
                }
            });

            map.on('click', 'places', function (e) {
                // map.flyTo({center: e.features[0].geometry.coordinates});
                var coordinates = e.features[0].geometry.coordinates.slice();
                var description = e.features[0].properties.description;

                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }

                new mapboxgl.Popup()
                    .setLngLat(coordinates)
                    .setHTML(description)
                    .addTo(map);
            });

            map.addControl(new mapboxgl.NavigationControl());

            // Change the cursor to a pointer when the mouse is over the places layer.
            map.on('mouseenter', 'places', function () {
                map.getCanvas().style.cursor = 'pointer';
            });

            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'places', function () {
                map.getCanvas().style.cursor = '';
            });
        });
*/

    </script>
{% endblock %}
