{% extends 'base.html.twig' %}

{% block title %}Evok | Mentions légales{% endblock %}

{% block body %}

    <div class="row mt-5 mentions">
        <div class="col offset-2">
            <h1 class="text-red text-uppercase mb-4">Mentions légales</h1>
            <h2>Article 1 : Définition</h2>
            <p>EVOK, EURL au capital de 36 500€ dont le siège est situé au 310 rue Pierre et Marie Curie, 54710 LUDRES.
            <ul class="ml-5">
                <li>Email : <b><a href="mailto:evokdesign@evok.fr">evokdesign@evok.fr</a></b></li>
                <li>Tél : <b><a href="tel:03 83 25 24 57">03 83 25 24 57</a></b></li>
                <li>SIRET : 435 003 553 00029</li>
            </ul>
            </p>
            <p>L'édition de evok.fr assurée par EVOK, le responsable de la publication est M. Sébastien POIREL.</p>
            <p>Le présent site est hébergé par Nuxit,<br/>
                400 avenue Roumanille BP 309<br/>
                06906 Sophia Antipolis Cedex<br/>
                04 86 57 60 00</p>
            <h2>Article 2 : Propriété intellectuelle</h2>
            <p>La société Evok Design est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, vidéos, graphismes, logos, icônes, sons, logiciels.<br/>
                Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite.<br/>
                Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
            <h2>Article 3 : Utilisation des cookies</h2>
            <p>Les « cookies » sont des fichiers texte déposés sur le disque dur de l’internaute par le serveur du site web visité ou par un serveur tiers (régie publicitaire, service de web analytique, etc..).<br/>
                Les cookies permettent de mémoriser des choix faits par l’internaute lors de sa navigation sur un site web. Ils peuvent notamment être utilisés pour faciliter une authentification, mémoriser une session de navigation, des préférences de consultation du site, le contenu d’un panier électronique, ... Chaque cookie a sa propre durée de vie.
                En se rendant sur evok.fr l’Utilisateur pourra choisir d’accepter ou de refuser l’installation de ces fichiers sur son ordinateur.
                Les cookies utilisés par EVOK le sont pour :
            <ul class="ml-5">
                <li>La mise en place de statistiques de visite avec le système Google Analytics</li>
            </ul>
            </p>
            <h2>Article 4 : Données personnelles</h2>
            <p>EVOK assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.

                En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit par :
            <ul class="ml-5">
                <li>Email : <b><a href="mailto:evokdesign@evok.fr">evokdesign@evok.fr</a></b></li>
            </ul>

            Vos données à caractère personnel sont exclusivement destinées à EVOK en charge du traitement informatisé de ces données.
            </p>
            <h2>Article 5 : Durée</h2>
            <p>Les présentes mentions légales demeurent valables jusqu’à modification ou le temps de la vie du site evok.fr. Elles produisent leurs effets à l'égard de l'Utilisateur à compter de l'utilisation du service, soit de la première connexion au site.</p>
            <h2>Article 6 : Droit applicable et juridiction compétente</h2>
            <p class="pb-10">La législation française s'applique au présent contrat.</p><br/><br/>
        </div>
    </div>

{% endblock %}
