{% extends 'base.html.twig' %}

{% block title %}Edit PresseV{% endblock %}

{% block body %}
    <h1>Edit PresseV</h1>

    {{ include('presse_v/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('presse_v_index') }}">back to list</a>

    {{ include('presse_v/_delete_form.html.twig') }}
{% endblock %}
