<div class="row">
    <div class="col pl-0 pr-0">
        <img class="img-header" src="{{ asset(img) }}" alt="{{ alt }}">
        <div class="titreHAV">
            <div class="line">
                <span class="petitAV">{{ petit }}</span>
                <span class="grandAV">{{ grand }}</span>
            </div>

        </div>
    </div>
</div>